Repository Azure/missionlz, pull requests merged in 2022-09, with the labels that each got.

#750 Key Vault private endpoint, private dns integration and diagnostic settings
  src/bicep/examples/key-vault/README.md
  src/bicep/examples/key-vault/diagram.png
  src/bicep/examples/key-vault/key-vault.bicep
  src/bicep/examples/key-vault/modules/key-vault.bicep
  src/bicep/examples/key-vault/modules/privateDnsZone.bicep
  src/bicep/examples/key-vault/modules/privateEndpoint.bicep
Labels: bug, core, examples

#751 Breaking NIST into NISTRev4 and NISTRev5
  docs/deployment-guide-bicep.md
  docs/policies.md
  src/bicep/add-ons/tier3/tier3.bicep
  src/bicep/form/mlz.portal.json
  src/bicep/mlz.bicep
  src/bicep/modules/policies/NISTRev4-policyAssignmentParameters.json
  src/bicep/modules/policies/NISTRev5-policyAssignmentParameters.json
  src/bicep/modules/policy-assignment.bicep
Labels: compliance & security

#718 Aks bicep module
  src/bicep/examples/README.md
  src/bicep/examples/aks/README.md
  src/bicep/examples/aks/aks.bicep
  src/bicep/modules/aks.bicep
Labels: examples
