Repository Azure/missionlz, pull requests merged in 2024-11, with the labels that each got.

#1123 Fixed conditions in AVD Add-On & missing params in Tier3 for storage
  docs/deployment-guides/command-line-tools.md
  src/bicep/add-ons/azure-virtual-desktop/modules/fslogix/fslogix.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/sessionHosts/virtualMachines.bicep
  src/bicep/add-ons/azure-virtual-desktop/solution.bicep
  src/bicep/add-ons/azure-virtual-desktop/solution.json
  src/bicep/add-ons/azure-virtual-desktop/uiDefinition.json
  src/bicep/add-ons/imaging/solution.json
  src/bicep/add-ons/tier3/modules/storage.bicep
  src/bicep/add-ons/tier3/solution.bicep
  src/bicep/add-ons/tier3/solution.json
Labels: bug, bicep

#1126 AVD Add-On: Updated configuration zip file & fixed Entra join bug
  src/bicep/add-ons/azure-virtual-desktop/modules/sessionHosts/sessionHosts.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/sessionHosts/virtualMachines.bicep
  src/bicep/add-ons/azure-virtual-desktop/solution.bicep
  src/bicep/add-ons/azure-virtual-desktop/solution.json
Labels: bicep

#1127 updated window remote access vm extension
  src/bicep/mlz.json
  src/bicep/modules/remote-access.bicep
  src/bicep/modules/windows-virtual-machine.bicep
Labels: core

#1128 AVD Add-On: Added Scaling Plans, Removed Scaling Tool
  src/bicep/add-ons/azure-virtual-desktop/artifacts/Disable-Autoscale.ps1
  src/bicep/add-ons/azure-virtual-desktop/artifacts/scaling-tool/profile.ps1
  src/bicep/add-ons/azure-virtual-desktop/artifacts/scaling-tool/requirements.psd1
  src/bicep/add-ons/azure-virtual-desktop/artifacts/scaling-tool/run.ps1
  src/bicep/add-ons/azure-virtual-desktop/docs/features.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/autoIncreasePremiumFileShareQuota.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/autoscale.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/backups.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/drainMode.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/fslogix.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/gpu.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/highAvailability.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/monitoring.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/serverSideEncryption.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/smbMultiChannel.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/startVmOnConnect.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/trustedLaunch.md
  src/bicep/add-ons/azure-virtual-desktop/docs/features/validation.md
  src/bicep/add-ons/azure-virtual-desktop/docs/prerequisites.md
  src/bicep/add-ons/azure-virtual-desktop/modules/controlPlane/applicationGroup.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/controlPlane/controlPlane.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/controlPlane/hostPool.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/fslogix/azureFiles/azureFiles.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/fslogix/fslogix.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/logic.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/management/automationAccount.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/management/functionApp.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/management/jobSchedules.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/management/management.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/management/scalingPlan.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/management/scalingTool.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/management/schedules.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/management/virtualMachine.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/sessionHosts/sessionHosts.bicep
  src/bicep/add-ons/azure-virtual-desktop/modules/sessionHosts/virtualMachines.bicep
  src/bicep/add-ons/azure-virtual-desktop/parameters.json
  src/bicep/add-ons/azure-virtual-desktop/solution.bicep
  src/bicep/add-ons/azure-virtual-desktop/solution.json
  src/bicep/add-ons/azure-virtual-desktop/solution.parameters.json
  src/bicep/add-ons/azure-virtual-desktop/uiDefinition.json
  src/bicep/data/resourceAbbreviations.json
  src/bicep/mlz.json
  src/bicep/modules/naming-convention.bicep
Labels: user interface, bicep
