Repository Azure/missionlz, pull requests merged in 2024-06, with the labels that each got.

#1041 Updated Remote Access tab to include Gateway subnet
  src/bicep/form/mlz.portal.json
  src/bicep/mlz.bicep
  src/bicep/mlz.json
  src/bicep/modules/hub-network.bicep
  src/bicep/modules/networking.bicep
Labels: bicep

#1044 Added Workload to Tier3 UI & Fixed LAW diagnostic logs
  src/bicep/add-ons/azure-virtual-desktop/solution.json
  src/bicep/add-ons/imaging/solution.json
  src/bicep/add-ons/tier3/solution.json
  src/bicep/add-ons/tier3/uiDefinition.json
  src/bicep/mlz.json
  src/bicep/modules/log-analytics-diagnostic-setting.bicep
Labels: bug, user interface, bicep

#1049 created a Walkthrough guide for MLZ.
  README.md
  docs/deployment-guide-templatespec.md
  docs/deployment-guide-walkthrough.md
Labels: documentation
